@font-face {
    font-family: "icons";
    src: url("./icons.eot?ab374c0846c7e9f56e71d44765de3091#iefix") format("embedded-opentype"),
url("./icons.woff2?ab374c0846c7e9f56e71d44765de3091") format("woff2"),
url("./icons.woff?ab374c0846c7e9f56e71d44765de3091") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_white:before {
    content: "\f101";
}
